/*
    You can add your own custom styles here.
    
    body{
    background-image: url('/wallhaven.jpg') !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
*/

